@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model P2_2020PM606_2020TD601.Models.casosReportados;
@{
}
<div class="container mb-4" style="background-color: rgb(215, 219, 221);">
    <h1 class="text-center">Registro de COVID</h1>
    <p class="text-center">
        El siguiente formulario es para llevar el registro de <br>
        COVID por departamento y genero
    </p>

    <!--Contenido a ingresar-->
    <h1>Reportar casos</h1>
    <form asp-action="CrearCasos">
        <div class="row">
            
            <div class="col">
                @Html.Label("lbldepartamento", "Departamento", new{@for="id_departamento", @class="form-label"})
                @Html.DropDownList("id_departamento", ViewData["listadoDepartamento"]as SelectList,"Seleccione un departamento", new{@class = "form-control"})
            </div>
            <div class="col">
                @Html.Label("lblgenero", "Genero", new{@for="genero", @class="form-label"})
                @Html.DropDownList("id_genero", ViewData["listadoGeneros"]as SelectList,"Seleccione el genero", new{@class = "form-control"})
            </div>
           
        </div>
        <div class="row">
            <div class="col">
                @Html.Label("lblcasos", "Casos Confirmados", new{@for="cconfirmados", @class="form-label"})
                @Html.TextBox("confirmados","", new{@class = "form-control", @type = "number"})
            </div>
            <div class="col">
                @Html.Label("lblrecuperados", "Número de recuperados", new{@for="recuperados", @class="form-label"})
                @Html.TextBox("recuperados","", new{@class = "form-control", @type = "number"})
            </div>
            <div class="col">
                @Html.Label("lblfallecidos", "Número de fallecidos", new{@for="fallecidos", @class="form-label"})
                @Html.TextBox("fallecidos","", new{@class = "form-control", @type = "number"})
            </div>
        </div>
        <div class="d-grid gap-2">
            <button class="btn btn-success mt-4" type="submit">Guardar registro</button>
        </div>
        <hr>
    </form>
    <div class="container mt-5" style="background-color: aliceblue;">
        <h1>casos Reportados</h1>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.id_caso)</th>
                    <th>@Html.DisplayNameFor(model => model.id_departamento)</th>
                    <th>@Html.DisplayNameFor(model => model.id_genero)</th>
                    <th>@Html.DisplayNameFor(model => model.confirmados)</th>
                    <th>@Html.DisplayNameFor(model => model.recuperados)</th>
                    <th>@Html.DisplayNameFor(model => model.fallecidos)</th>
                </tr>
            </thead>
            
            <tbody>
                @foreach (var item in (IEnumerable<dynamic>)ViewData["ListaCasos"])
                {
                    <tr>
                        <td>@item.idcaso</td>
                        <td>@item.departamento</td>
                        <td>@item.genero</td>
                        <td>@item.confirmados</td>
                        <td>@item.recuperados</td>
                        <td>@item.fallecidos</td>
                    </tr>
                }


            </tbody>
        </table>
        <h4 class="text-center">Derechos reservados: Palma Miranda Mario Enrique, Toledo Diaz Werner Alejandro©</h4>
    </div>
</div>
