@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container" style="background-color: rgb(215, 219, 221);">
    <h1 class="text-center">Registro de COVID</h1>
    <p class="text-center">
        El siguiente formulario es para llevar el registro de <br>
        COVID por departamento y genero
    </p>

    <!--Contenido a ingresar-->
    <h1>Reportar casos</h1>
    <form>
        <div class="row ">
            @*
            <div class="col">
                @Html.Label("lbldepartamento", "Departamento", new{@for="departamento", @class="form-label"})
                @Html.DropDownList("Departamento", ,"Seleccione un departamento", new{@class = "form-control"})
            </div>
            <div class="col">
                @Html.Label("lblgenero", "Genero", new{@for="genero", @class="form-label"})
                @Html.DropDownList("genero", ,"Seleccione el genero", new{@class = "form-control"})
            </div>
            *@
        </div>
        <div class="row">
            <div class="col">
                @Html.Label("lblcasos", "Casos Confirmados", new{@for="casosconfirmados", @class="form-label"})
                @Html.TextBox("casosconfirmados","", new{@class = "form-control", @type = "number"})
            </div>
            <div class="col">
                @Html.Label("lblrecuperados", "Número de recuperados", new{@for="recuperados", @class="form-label"})
                @Html.TextBox("recuperados","", new{@class = "form-control", @type = "number"})
            </div>
            <div class="col">
                @Html.Label("lblfallecidos", "Número de fallecidos", new{@for="fallecidos", @class="form-label"})
                @Html.TextBox("fallecidos","", new{@class = "form-control", @type = "number"})
            </div>
        </div>
        <div class="d-grid gap-2">
            <button class="btn btn-success mt-4" type="submit">Guardar registro</button>
        </div>
        <hr>
    </form>
    <div class="container mt-5" style="background-color: aliceblue;">
        <h1>casos Reportados</h1>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.nombre)</th>
                    <th>@Html.DisplayNameFor(model => model.descripcion)</th>
                    <th>@Html.DisplayNameFor(model => model.tipo_equipo_id)</th>
                    <th>@Html.DisplayNameFor(model => model.marca_id)</th>
                    <th>@Html.DisplayNameFor(model => model.modelo)</th>
                    <th>@Html.DisplayNameFor(model => model.anio_compra)</th>
                    <th>@Html.DisplayNameFor(model => model.costo)</th>
                    <th>@Html.DisplayNameFor(model => model.vida_util)</th>
                    <th>@Html.DisplayNameFor(model => model.estado_equipo_id)</th>
                    <th>@Html.DisplayNameFor(model => model.estado)</th>
                </tr>
            </thead>
            <!--    <tbody>
            @*@ @foreach(var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(Modelitem => item.id_marca)</td>
                        <td>@Html.DisplayFor(Modelitem => item.nombre_marca)</td>
                        <td>@Html.DisplayFor(Modelitem => item.estados)</td>
                    </tr>
                }
                *@
            </tbody>
            -->
            <tbody>
                @foreach (var item in (IEnumerable<dynamic>)ViewData["Listadoequipo"])
                {
                    <tr>
                        <td>@item.nombre</td>
                        <td>@item.descrip</td>
                        <td>@item.tipo_equipo</td>
                        <td>@item.marca</td>
                        <td>@item.modelo</td>
                        <td>@item.anio</td>
                        <td>@item.costo</td>
                        <td>@item.vida_util</td>
                        <td>@item.estados_equipo</td>
                        <td>@item.estado</td>

                    </tr>
                }


            </tbody>
        </table>
        <h4 class="text-center">Derechos reservados: Palma Miranda Mario Enrique, Toledo Diaz Werner Alejandro</h4>
    </div>
</div>
